* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 0 10x;
    background-color: black;
    color: #fff;
}
.accounts{
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
}
.a-accounts{
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
}
.a-sm{
    color: #fff;
    text-decoration: none;  
}
.p-account{
    padding: 0 1em;
}
.fa-brands{
    font-size: 0.8em;
    padding: 0 0.6em;
}
header{
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10vw;
    position: sticky;
    top: 0;
    z-index: 2;
}
.fa-bars{
    height: 100%;
    margin: auto 0;
    font-size: 2em;
}
.logo{
    width: 140.2px;
    height: 65px;
    background-image: url(../img/terabyte-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.div-input-header{
    width: 50%;
    background-color: white;
    height: 45px;
    margin: auto 0;
    color: #222;
    border-radius: 10px;
    display: inline-flex;
}
.input-header{
    height: 100%;
    width: 93%;
    border-radius: 10px;
    padding-left: 0.8em;
    border: none;
    font-size: 1.2em;
    outline: none;
}
.icon-search{
    margin: auto;

}
.entre{
    margin: auto 0;;
}
.login{
    text-align: center;
    font-size: .8em;
}
.fa-cart-shopping{
    margin: auto 0;
    font-size: 1.2em;
}
.div-slider{
    background-image: url(../img/2459.jpg);
    height: 14vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer1{
    display: flex;
    height: 10vw;
    background-color: #212121;
    border-bottom: 1px solid rgb(18, 18, 18);
}

.pagamento{
    margin: 0 250px;
}

.footer1 h2{
    color: #FF5510;
    margin-bottom: 0;
    font-weight: 200;
    padding: 10px;
}

.footer1 img{
    margin-bottom: 10px;
}

.footer2{
    background-color: #212121;
}

.fot{
    display: flex;
    height: 10vw;
    justify-content: space-between;
    margin: 0 450px 0 250px;
}

.footer2 h5{
    color: #FF5510;
    font-weight: 100;
    padding: 15px 0;
}

.institucional, .duvidas, .cliente, .ajuda{
    display: flex;
    flex-direction: column;
}

.institucional a, .duvidas a, .cliente a, .ajuda a{
    text-decoration: none;
    color: #DDDDDD;
    font-size: 14px;
}

.institucional i, .duvidas i, .cliente i, .ajuda i{
    color: #666;
}

.footer3{
    background-color: #262626;
    height: 5vw;
}

.footer3 h5{
    color: #DDDDDD;
    font-size: 14px;
    font-weight: 400;
    margin: 0 900px;
    padding: 10px 0;
}

.social-icons{
    display: flex;
    margin: 0 810px;
}

.social-icons a{
    color: #FF5510;
    font-size: 35px;
}
.seguranca{
    display: flex;
    flex-direction: column;
}
.img-seg{
    display: flex;

}

