@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    background-color: #ebebeb;
}
section{
    margin-bottom: 5vh;
}
h2{
    font-size: 1em;
    margin-bottom: 5vh;
}
.div-pc-para-todos{
    width: 100%;
    height: 33vh;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    position: relative;
}
.img-pc-para-todos{
    width: 60%;
    height: 83%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.img-pc-para-todos span{
    position: absolute;
    top: 110%;
    font-weight: bold;
}
.div-home-office{
    background-image: url(../img/home--office.png);
}
.div-pc-gamer{
    background-image: url(../img/pc--gamer.png);
}
.div-imgs-depart{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    gap: 0.2vw;
    margin-top: 5vh;
}
.div-img-depart{
    background-color: #fff;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 2em;
    border-right: 1px #ebebeb solid;
}
.div-img-depart span{
    position: absolute;
    top: 110%;
}
.img-1-depart{
    background-image: url(../img/kit-upgrade.png);
}
.img-2-depart{
    background-image: url(../img/pc-gamer.png);
}
.img-3-depart{
    background-image: url(../img/hardware.jpg);
}
.img-4-depart{
    background-image: url(../img/--perifericos.png);
}
.img-5-depart{
    background-image: url(../img/gabinetes.png);
}
.img-6-depart{
    background-image: url(../img/-refrigeracao.png);
}
.section-mais-vendidos{
    margin: 10% 0;
}
.div-produtos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
}
.div-produto{
    background-color: #fff;
    padding: 8px;
}
.div-img-produto{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: #ebebeb solid 1px;
}

.desc-produto{
    font-size: .8em;
    margin-bottom: 1vw;
}
.p-valor, .p-parcelado{
    font-size: 0.75em;
    color: #666;
}
.p-avista{
    font-size: 1.2em;
    font-weight: bold;
    color: #2aaa3e;
    font-family: 'Open Sans', sans-serif;
}
.span-a-vista{
    font-size: 0.7em;
}
.footer1{
    display: flex;
    height: 10vw;
    background-color: #212121;
    border-bottom: 1px solid rgb(18, 18, 18);
}

.pagamento{
    margin: 0 250px;
}

footer {
    height: 16.6vw;
    background-color: #121212;
    text-align: center;
    padding: 20px;
}

footer img{
    width: 250px;
    padding: 20px;
}

footer p{
    color: #8B8B8B;
    font-size: 11px;
}

.branco{
    color: #DDDDDD;
}

.branco1{
    color: #DDDDDD;
    padding-top: 10px;
}

.branco2{
    font-size: 12px;
    color: #DDDDDD;
}

.cinza1{
    font-size: 11px;
}

.cinza3{
    padding-bottom: 10px;
}

.logo-footer{
    padding: 20px;
    max-width: 9%;
}

@media(max-width: 1024px) {
    main {
        margin: 5vw 10vw;
    }

    .img-pc-para-todos {
        width: 45%;
        height: 54%;
    }

    .div-img-depart {
        height: 15vw;
    }

    .div-produtos-mais-vendidos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1024px) {
    main {
        margin: 3vw 20vw;
    }

    .div-img-depart {
        height: 10vw;
    }

    .div-produtos-mais-vendidos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}